@use "settings" as s;
@use "foundation";

$types: (
  normal: #a8a878,
  fire: #f08030,
  fighting: #c03028,
  water: #6890f0,
  flying: #a890f0,
  grass: #78c850,
  poison: #a040a0,
  electric: #f8d030,
  ground: #e0c068,
  psychic: #f85888,
  rock: #b8a038,
  ice: #98d8d8,
  bug: #a8b820,
  dragon: #7038f8,
  ghost: #705898,
  dark: #705848,
  steel: #b8b8d0,
  fairy: #ee99ac
);

@keyframes card-reveal {
  0% {
    opacity: 0;
    transform: translateY(45px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.pokemon-capture {
  position: absolute;
  top: -110px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  animation: fade-out (7s / 15) (8s / 15) forwards;
  width: 150px;
  height: auto;
  max-width: 100%;
}
.card {
  background-color: s.$light;
  box-shadow: s.$shadow;
  border: 2px solid white;
  border-radius: 10px;
  padding: 10px 18px;
  position: relative;
  transition: box-shadow 0.3s, transform 0.3s, border 0.3s, padding 0.3s;
  @include foundation.breakpoint(large) {
    padding: 23px 18px;
  }
  h2[contenteditable="true"] {
    display: inline-block;
    border-bottom: 1px dashed black;
    &:focus {
      outline: none;
      border-color: s.$active;
      color: s.$active;
    }
  }
  &-holder {
    position: relative;
    padding-top: 65px;
    animation: card-reveal 0.5s cubic-bezier(0.65, 2, 0.03, 0.7) backwards;
    @for $i from 2 through 12 {
      &:nth-of-type(12n + #{$i}) {
        animation-delay: (0.05s * $i);
      }
    }
    @include foundation.breakpoint(large) {
      padding-top: 85px;
    }
  }
  &-active {
    border: 4px solid rgb(s.$active, 0.4);
    padding: 8px 16px;
    @include foundation.breakpoint(large) {
      padding: 21px 16px;
    }
    .card-img {
      animation: fade-out reverse (7s / 15) (8s / 15) backwards;
    }
  }
  &-tap-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    border: none;
    appearance: none;
    background-color: transparent;
    z-index: 2;
    cursor: pointer;
    border-radius: 10px;
    &:focus {
      outline: none;
      & + .card {
        box-shadow: 0 0 2px 5px rgba(s.$active, 0.2);
      }
    }
    &:hover + .card {
      transform: translateY(-3px);
      box-shadow: s.$deep_shadow;
    }
  }
  &-img {
    margin: -75px auto 25px;
    width: 150px;
    height: auto;
    // TODO: @supports rule here for browser compat
    object-fit: contain;
    display: block;
    position: relative;
    z-index: 1;
    image-rendering: pixelated;
    @supports (image-rendering: crisp-edges) {
      image-rendering: crisp-edges;
    }
    @include foundation.breakpoint(large) {
      margin: -110px auto 0;
      height: 150px;
    }
  }
  &-img-shadow {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -35px;
    width: 70px;
    height: 35px;
    background-color: black;
    opacity: 0.03;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    @include foundation.breakpoint(large) {
      margin-left: -50px;
      width: 100px;
      height: 50px;
    }
  }
  &-id {
    display: inline-block;
    border-radius: 32px;
    padding: 5px 15px;
    background-color: rgba(s.$dark, 0.1);
    color: rgba(black, 0.6);
    &::before {
      content: "#";
    }
  }
  &-types {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center;
  }
  &-type {
    padding: 4px 8px;
    margin: 2px;
    border-radius: 4px;
    line-height: (14 / 12);
    background-color: s.$dark;
    color: white;
    @include foundation.breakpoint(medium) {
      padding: 4px 12px;
      margin: 4px;
    }
  }
  &-empty-button {
    background-color: s.$body;
    box-shadow: s.$shadow;
    width: 75px;
    height: 75px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px auto 15px;
    border-radius: 40px;
    border: 1px solid white;
    svg {
      display: block;
    }
  }
  &-title-cell {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@each $name, $colour in $types {
  .card-type-#{$name} {
    background-color: $colour;
  }
}
.party-remove-button {
  position: absolute;
  width: 28px;
  height: 28px;
  left: 50%;
  bottom: -14px;
  margin-left: -14px;
  background-color: s.$body;
  box-shadow: s.$shadow;
  border: 1px solid white;
  border-radius: 14px;
  cursor: pointer;
  transition: box-shadow 0.3s, background-color 0.3s, border-color 0.3s;
  &:hover {
    box-shadow: s.$deep_shadow;
    background-color: white;
    border-color: s.$body;
  }
}
