@use "settings" as s;

header {
  background-color: s.$dark;
  color: white;
  height: 80px;
  margin-bottom: 110px;
  img {
    display: block;
  }
}

.header-logo {
  margin-top: 12px;
}

.main-nav {
  letter-spacing: 0.04em;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  text-transform: uppercase;
  a {
    padding: 15px 0;
  }
}

.user-profile {
  background-color: white;
  height: 56px;
  width: 56px;
  border-radius: 28px;
  overflow: hidden;
}
