@use "settings" as s;
@use "foundation";

header {
  background-color: s.$dark;
  color: rgba(white, 0.6);
  height: 80px;
  margin-bottom: 40px;
  @include foundation.breakpoint(large) {
    margin-bottom: 110px;
  }
  img {
    display: block;
  }
}

.header-logo {
  margin-top: 12px;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes rise {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@include foundation.breakpoint(small down) {
  .main-nav {
    position: fixed;
    top: 0;
    margin: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 60px foundation.rem-calc(map-get(s.$outer_padding, small) / 2);
    animation: fade-in 0.3s;
    background-color: s.$dark;
    background-image: url("/img/pikachu.png");
    background-repeat: no-repeat;
    background-size: auto 90%;
    background-position: -195px bottom;
    background-attachment: fixed;
    z-index: 4;
    text-align: center;
    font-size: 24px;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    &.hidden {
      visibility: hidden;
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.3s, visibility 0.3s, left 0.1s 0.3s, right 0.1s 0.3s;
      animation: none;
      right: 100%;
      left: -100%;
    }
  }
  .main-nav-list {
    animation: rise 0.4s 0.15s ease-out backwards;
    .hidden & {
      animation: none;
    }
    li {
      width: 100%;
      margin-bottom: 36px;
    }
  }
  .user-profile-cell {
    order: -1;
  }
}

.mobile-menu-opener {
  padding: 0;
  background: none;
  border: none;
  padding: 10px;
  height: 51px;
  width: 51px;
  position: relative;
  margin: -10px -10px -10px 0;
  color: s.$body;
  z-index: 5;
  &::before,
  &::after {
    content: "";
    width: 31px;
    height: 3px;
    border-radius: 5px;
    background-color: currentColor;
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition-propery: transform, top;
    transition-duration: 0.35s;
    transition-timing-function: cubic-bezier(0.65, 2.35, 0.03, 0.71);
  }
  &::before {
    top: calc(50% - 5px);
  }
  &::after {
    top: calc(50% + 5px);
  }
  &[aria-expanded="true"] {
    &::before {
      top: 50%;
      transform: translateX(-50%) rotate(45deg);
    }
    &::after {
      top: 50%;
      transform: translateX(-50%) rotate(-45deg);
    }
  }
}

.main-nav-list {
  letter-spacing: 0.04em;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  text-transform: uppercase;
  a {
    padding: 15px 0;
    &.active {
      color: white;
    }
  }
}

.user-profile {
  background-color: white;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  overflow: hidden;
  margin: 0 auto 180px;
  @include foundation.breakpoint(medium) {
    height: 56px;
    width: 56px;
    margin: 0 auto;
  }
  img {
    width: 100%;
    height: 100%;
  }
}

.mobile-menu-logo {
  width: 100%;
  img {
    margin: 0 auto;
    display: block;
  }
}
