@keyframes preview-reveal {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.preview-card {
  opacity: 0.6;
  animation: preview-reveal (7s / 15) (12s / 15) backwards
    cubic-bezier(0.65, 2, 0.03, 0.7);
  &-empty {
    opacity: 0.4;
    animation: none;
  }
  img {
    height: auto;
  }
}
