@use "settings" as s;

.btn {
  transition: background-color 0.3s;
  &,
  &:visited {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 75px;
    border-radius: 40px;
    background-color: rgba(s.$active, 0.6);
    color: white;
    font-size: 18px;
    line-height: 1;
    font-family: s.$heading_family;
    font-weight: 700;
    box-shadow: s.$shadow;
    text-decoration: none;
    border: none;
    appearance: none;
    cursor: pointer;
    padding: 10px;
  }
  &:hover {
    background-color: s.$active;
  }
  &::after {
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg width='27' height='10' viewBox='0 0 27 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M24.1108 4.20025L20.9538 1.0433L21.9938 0.00329723L26.4062 4.41564C26.6934 4.70283 26.6934 5.16846 26.4062 5.45564L21.9938 9.86799L20.9538 8.82799L24.1108 5.67103L0.883057 5.67104L0.883057 4.20026L24.1108 4.20025Z' fill='white'/%3E%3C/svg%3E");
    height: 10px;
    width: 25px;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.btn {
  &-centered {
    margin-left: auto;
    margin-right: auto;
  }
}
