@use "settings" as s;
@use "foundation";

.btn {
  transition: background-color 0.3s;
  position: relative;
  z-index: 1;
  &,
  &:visited {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 55px;
    border-radius: 40px;
    background-color: lighten(#69a99f, 4);
    color: white;
    font-size: 12px;
    line-height: 1;
    font-family: s.$heading_family;
    font-weight: 700;
    box-shadow: s.$shadow;
    text-decoration: none;
    border: none;
    appearance: none;
    cursor: pointer;
    padding: 10px;
    @include foundation.breakpoint(medium) {
      width: 75px;
      height: 75px;
      font-size: 18px;
    }
  }
  &:hover {
    background-color: s.$active;
  }
  &::after {
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg width='27' height='10' viewBox='0 0 27 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M24.1108 4.20025L20.9538 1.0433L21.9938 0.00329723L26.4062 4.41564C26.6934 4.70283 26.6934 5.16846 26.4062 5.45564L21.9938 9.86799L20.9538 8.82799L24.1108 5.67103L0.883057 5.67104L0.883057 4.20026L24.1108 4.20025Z' fill='white'/%3E%3C/svg%3E");
    height: 10px;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.btn {
  &-centered {
    margin-left: auto;
    margin-right: auto;
  }
  &-floating {
    @include foundation.breakpoint(small down) {
      position: fixed;
      bottom: 15px;
      right: 15px;
      z-index: 3;
    }
  }
}
