@use "settings" as s;
@use "foundation";

body,
html {
  font-family: s.$font_family;
  font-weight: 700;
  background-attachment: fixed;
  padding: 0 0 40px;
  margin: 0;
  background-color: s.$body;
  color: s.$dark;
  @media (prefers-color-scheme: dark) {
    background-color: s.$dark;
    color: white;
  }
  @each $bp, $size in s.$font_size {
    @include foundation.breakpoint($bp) {
      font-size: $size;
      line-height: map-get(s.$line_height, $bp);
    }
  }
}

body::before {
  content: "";
  position: fixed;
  left: -195px;
  bottom: 0;
  background-image: url("/img/pikachu.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left bottom;
  height: 90%;
  width: 150%;
  @include foundation.breakpoint(medium) {
    left: 40px;
  }
}

h1,
h2 {
  font-family: s.$heading_family;
  font-style: normal;
  text-decoration: none;
  margin-top: 15px;
  margin-bottom: 15px;
}

h1 {
  font-size: 36px;
  line-height: 1;
  font-weight: 700;
}

h2 {
  font-size: (24 / 10) * 1rem;
  line-height: (28 / 24);
  font-weight: 400;
  @include foundation.breakpoint(large) {
    font-size: (32 / 12) * 1rem;
    line-height: (37 / 32);
  }
}

h3 {
  font-size: 24px;
  line-height: 1;
  font-weight: 700;
}

.h1,
%h1 {
  @extend h1;
}

.h2,
%h2 {
  @extend h2;
}

.h3,
%h3 {
  @extend h3;
}

a {
  color: inherit;
  text-decoration: none;
  &:active {
    color: inherit;
    transform: translateY(1px);
  }
  &:visited {
    color: inherit;
  }
}

p {
  margin-top: 0;
  margin-bottom: 35px;
}

.text-center {
  text-align: center;
}
