@use "settings" as s;
@use "foundation";

.pagination-indicator {
  font-size: 24px;
}
.scroll-more {
  font-family: s.$heading_family;
  font-weight: 700;
  opacity: 0.6;
  width: 60px;
  margin: 0 auto;
  svg {
    display: block;
    fill: currentColor;
    margin: 10px auto 0;
  }
}
.pokeball-loader {
  width: 66px;
  height: 66px;
  image-rendering: pixelated;
  @supports (image-rendering: crisp-edges) {
    image-rendering: crisp-edges;
  }
}

@include foundation.breakpoint(small down) {
  .archive-title-holder {
    order: -2;
  }
  .party-sidebar-holder {
    order: -1;
  }
}
