@use "settings" as s;
@use "foundation";

.pagination-indicator {
  font-size: 24px;
}
.scroll-more {
  font-family: s.$heading_family;
  font-weight: 700;
  opacity: 0.6;
  width: 60px;
  margin: 0 auto;
  svg {
    display: block;
    fill: currentColor;
    margin: 10px auto 0;
  }
}
.archive-left-column {
  @include foundation.breakpoint(large) {
    min-height: calc(100vh - 300px);
  }
}

@include foundation.breakpoint(small down) {
  .archive-title-holder {
    order: -2;
  }
  .party-sidebar-holder {
    order: -1;
  }
}
