@use "sass:color";

// Colours

$mine: #333;
$sand: #f9f9f9;

$surfie: #107b6a;

$dark: $mine;
$light: $sand;

$active: $surfie;

$font_family: work-sans, sans-serif;
$heading_family: moret, serif;
$font_size: (
  small: 10px,
  large: 12px
);
$line_height: (
  small: (
    20 / 14
  ),
  large: (
    40 / 24
  )
);

$container: 1320px;
$gutter: (
  small: (
    23px / map-get($font_size, small) * map-get($font_size, large)// Foundation runs grid units through rem-calc, but I'm using a different base size for small screens
  ),
  large: 30px
);
$outer_padding: (
  small: 20px / map-get($font_size, small) * map-get($font_size, large),
  large: 80px
);

$shadow: 10px 10px 20px rgba(black, 0.05), -10px -10px 4px rgba(white, 0.2);
