name: Lighthouse CI
on: deployment
jobs:
  lighthouse:
    runs-on: ubuntu-latest
    steps:
      - name: Warm Cache on site
        uses: wei/curl@v1
        with:
          args: https://pokemon.floatingdino.now.sh
      - uses: wei/curl@v1
        with:
          args: https://pokemon.floatingdino.now.sh/party
      - uses: actions/checkout@v1
      - name: Audit URLs using Lighthouse
        uses: treosh/lighthouse-ci-action@v2
        with:
          urls: |
            https://pokemon.floatingdino.now.sh
            https://pokemon.floatingdino.now.sh/party
          temporaryPublicStorage: true
          configPath: 'lighthouserc.json'
